include LICENSE
include README.md
recursive-include juntagrico_assignment_request/static *
recursive-include juntagrico_assignment_request/templates *
include requirements.txt
global-exclude *.pyc
exclude manage.py
exclude testsettings*.py
exclude testurls*.py
recursive-exclude test *